body {
    font-family: Arial, sans-serif;
}

.nav-tabs {
    margin-bottom: 20px;
}

.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.tab-content h2 {
    text-align: center;
}

.center-box {
    text-align: center;
}

p {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.checkBox {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

#freeSlots {
    color: darkgreen;
}

#submitButton{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitButton:hover{
    background-color: #45a049;
}
